.tmp1 {
	display: inline;
	background-color: #f99;
	box-shadow: -10px 0 0 #f99, 10px 0 0 #f99;
	padding: 0px 0;
}

.tmp2 {
    display: inline;
	background-color: #9f9;
	box-shadow: -10px 0 0 #9f9, 10px 0 0 #9f9;
	padding: 0px 0;
}

.tmp3 {
    display: inline;
	background-color: #99f;
	box-shadow: -10px 0 0 #99f, 10px 0 0 #99f;
	padding: 0px 0;
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: #fa0;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.text {
    text-align: left;
}

.intext {
    background: #fff;
}

.button {
    font-size: x-large;
    background: #99d;
    border: 500px;
    border-radius: 5px;
}

.fon-color {
    background: #ff0;
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    max-width: 90%;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border-top: 7px solid #ddd;
    border-bottom: 7px solid #ddd;
}

th {
    font-size: 13px;
    font-weight: normal;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    color: #ddd;
    padding: 8px;
}

td {
    background: #ccc;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    color: #000;
    padding: 8px;
}
