{% extends "base.html" %}

{% block content %}
<div align="center">
    <div>
        <h2>Список работ</h2>
    </div>
    {% for job in jobs %}
    <div>
        <h2>Работа #{{job.id}}</h2>
        <div class="text">
            <table>
                <tr>
                    <td>
                        <a>Title of activity</a>
                    </td>
                    <td>
                        <a>Team leader</a>
                    </td>
                    <td>
                        <a>Duration</a>
                    </td>
                    <td>
                        <a>List of collaboration</a>
                    </td>
                    <td>
                        <a>is finished</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>{{job.title}}</a>
                    </td>
                    <td>
                        <a>{{job.team_leader}}</a>
                    </td>
                    <td>
                        <a>{{job.duration}}</a>
                    </td>
                    <td>
                        <a>{{job.collaboration}}</a>
                    </td>
                    <td>
                        <a>{{job.is_finished}}</a>
                    </td>
                </tr>

            </table>
        </div>
        {% endfor %}
    </div>
    {% endblock %}