{% extends "base.html" %}

{% block content %}
<div align="center">
    <div>
        <h2>Список работ</h2>
    </div>
    {% for job in jobs %}
    <div class="text">
        <h2>Работа #{{job.id}}</h2>
        <div class="text">
            <table>
                <tr>
                    <td>
                        <a>Работа</a>
                    </td>
                    <td>
                        <a>Руковолитель</a>
                    </td>
                    <td>
                        <a>Длительность</a>
                    </td>
                    <td>
                        <a>ID работников</a>
                    </td>
                    <td>
                        <a>Статус</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>{{job.title}}</a>
                    </td>
                    <td>
                        <a>{{job.team_leader}}</a>
                    </td>
                    <td>
                        <a>{{job.duration}}</a>
                    </td>
                    <td>
                        <a>{{job.collaboration}}</a>
                    </td>
                    <td>
                        <a>работа</a>
                        <br>
                        {% if job.is_finished %}
                        <a>закончена</a>
                        {% else%}
                        <a>не закончена</a>
                        {% endif%}

                    </td>
                </tr>

            </table>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>